body{
    font-family: 'Open Sans', arial;

}

a{
    text-decoration: none;
}
.gray-font{
    color: #333;
}

.blue-font{
    color: #007bff;
}



hr{
    width: 80px;
    border: 0;
    border-bottom: 1px solid #007bff;
    margin-bottom: 30px;
}

.main-box {
    width: 100%;
    position: relative;

}

#main-logo {
    height: 70vh;
    width: 100%;
    background: url(../img/header.jpg) center;
    background-size: cover;
    position: relative;
}


.title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main-logo > .title > h1{
    font-size: 300%;
    margin: 10px;
}

button{
    padding: 15px;
    text-transform: uppercase;
    background-color: rgb(0,0,0,0);
    border: 1px solid #007bff;
    margin-top: 20px;
    
}

#navbar {
    height: 50px;
    background: #007bff;
    display: flex;
    justify-content: center;
}

.nav-item{
    text-transform: uppercase;
    color: #fff;
    padding: 15px 50px;
    flex-basis: 33.3333%;
    align-self: center;

}
.nav-item:first-of-type{
    flex-shrink: 2;
}

section{
    width: 100%;
    box-sizing: border-box;
    padding: 150px 20%;
    text-align: center;
}
section > h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    
}

section > p{
    text-align: left;
}

.about-img{
    margin: 50px 0;
    
}

.section-img img{
    border-radius: 50%;
}

.portfolio{
    display: flex;
}

.portfolio-img{
    
}